/* general styling */

:root {
  --main-bg: #eee;
  --content-text: #111;
  --content-bg: #eac;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: var(--main-bg)
}

h2 {
  font-size: 1.7rem;
  font-weight: 650;
}

#preview, #editor {    
  color: var(--content-text);
  background-color: var(--content-bg);
  font-size: .88rem;
  font-family: monospace, Verdana, sans-serif;
}