:root {
  --main-bg: #eee;
  --section-heading-bg: #ebf;
  --content-text: #111;
  --content-bg: #eac;
}

*, *::before, *::after {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;  
}

body {
  background-color: var(--main-bg)
}

#main-heading {
  font-size: 1.7rem;
  font-weight: 650;
}

.subheading-container, .subheading-container > * {
  background-color: var(--section-heading-bg);
}

.subheading {
  font-size: 1.31rem;
  font-weight: 500;
  padding: 4px;
}

#preview, #editor {    
  color: var(--content-text);
  background-color: var(--content-bg);
  font-size: .88rem;
  font-family: monospace, Verdana, sans-serif;
}

/* styling previewer content */

#preview, #preview > * {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#preview > *, #preview > * > * {
  margin-left: 0.7rem;
  margin-bottom: 1rem;
  padding: 4px;
}