/* general styling */

/* TO DO list

apply flex to position stuff
choose background(dont go for image here)
add h1 main-heading
choose fonts
add footer

borders for textarea and div
also margin, padding stuff

after loding and researching Mrked library

double-check and refactor the above
*/

/* :root {  
} */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}